<ul class="items" *ngFor="let item of items">
  <li>
    
      
        <span class="ranking">1.</span>
        <a class="upvote" href="#"><img src="assets/upvotearrow.gif" alt="upvote"></a>
      
      <span class="details">
        <span class="heading">
          <h4><a href="#">Apple Hides Taiwan Flag in Hong Kong</a></h4>
          <small>(<a href="#">emojipedia.org</a>)</small>
        </span>
        
          <span class="info"
            >1109 points by <a href="#">pulisse</a><a href="#">7 hours ago</a> |
            <a href="#">hide</a> |
            <a class="comments" href="#">477 comments</a>
            </span
          >
       
      </span>
  
  </li>
</ul>
